t1{
        border-collapse:collapse;
	border-bottom:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:72%;
        
}
tr1{
    border-top:1px solid gray;
	text-align:center;	
}
th{
    border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #0775d3;
	padding:10px;
	color: #FFFFFF;
}
td{
     border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #ECEEF0;
	padding:10px;
	color: #000;
}

